<head>
    <title>Book Hotel Room</title>
</head>
<body>
    <form action="#" method="post">
        <p>Total Adults: </p><p><input type="number" name="no_of_adults" /></p>
        <p>Total Children: </p><p><input type="number" name="no_of_children" /></p>
        <p>Weekend Nights: </p><p><input type="number" name="no_of_weekend_nights" /></p>
        <p>Week Nights: </p><p><input type="number" name="no_of_week_nights" /></p>
        <p>Room Type (Room_Type 1 s/d Room_Type 7): </p><p><input type="text" name="room_type_reserved" /></p>
        <p>Check In Date (yyyy-mm-dd): </p><p><input type="datetime" name="arrival_time" /></p>
        <p><input type="Submit" value="Submit" /></p>
    </form>
</body>
</html>